* {
  padding: 0;
  margin: 0;
}
body {
  font: 12px/24px Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    \\5b8b\4f53, sans-serif;
  color: #333;
  background-color: whitesmoke;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  border: 0;
}
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.active {
    background-color: #04aa6d;
  }